.FirstNavElement {
    font-size: 1.8em;
    padding-left: 18px;
}

.SecondNavElement {
    display: flex;
    padding-top: 23px;
    justify-content: right;
}

.navigation-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: purple;
}

.icon {
    transform: scale(1.45);
    padding: 12px;
    color: white;
}

p {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
