table {
    width: 100%;
}

h3 {
    padding-left: 20px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-style: normal;
}

.mat-header-cell {
    background-color: lightgray;
    font-size: 1.1em;
    color: black;
}
