<h3>Stock prices</h3>

<!-- <td *ngFor="let stock of stocks$ | async">
    <tr>{{ stock.name }}</tr>
    <tr>{{ stock.code }}</tr>
    <tr>{{ stock.unit }}</tr>
    <tr>{{ stock.price }}</tr>
</td> -->


<table mat-table [dataSource]="stocks$" class="mat-elevation-z8">

    <!-- Company Column -->
    <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef> Company </th>
        <td mat-cell *matCellDef="let stock"> {{stock.Name}} </td>
    </ng-container>

    <!-- Unit Column -->
    <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef> Ammount </th>
        <td mat-cell *matCellDef="let stock"> {{stock.Unit}} </td>
    </ng-container>

    <!-- Value Column -->
    <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Value </th>
        <td mat-cell *matCellDef="let stock"> {{stock.Price | currency:'PLN '}} </td>
    </ng-container>

    <!-- Button Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let stock">
            <button mat-raised-button color="primary" (click)="openDialog(stock)">Buy</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<!-- (click)="openDialog()"  -->
